@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
    //background: #E5E5E5;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

button {
    cursor: pointer;
    background: #ffffff;
    border: 2px solid #5152b7;
    box-sizing: border-box;
    border-radius: 5px;
    height: 43px;
    width: 91px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

button:hover,
button:focus {
    background: #5152b7;
    color: #fff;
}

button:disabled {
    background: #dae1e7;
    border: none;
    color: #e7edf5;
    cursor: auto;
}

input {
    border-radius: 5px;
    border: 1px solid #f7f8fb;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

    color: #4f4f4f;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    height: 50px;
    padding-left: 34px;
    padding-right: 80px;
}

input:focus {
    border: 1px solid #5253b8;
}

input::placeholder {
    color: #d9e1e7;
}

:root {
    --primary-color: #5152b7;
}
